/* div{
    border : 1px solid black;
} */
footer{ 
    text-align : center;
    font-size: xx-small;
    vertical-align: middle;
    position: fixed; 
    left:0px; 
    bottom:0px; 
    height:30px; 
    width:100%; 
    background:grey; 
    color: white; 
    display: table;
}
.footerheight{
    left:0px; 
    bottom:0px; 
    height:30px; 
    width:100%;
}
.copyrightFooter{
     display: table-cell; vertical-align: middle;
}
